/* Give your page a fun background color */
body {
  background-image: url("https://www.wallpapertip.com/wmimgs/6-61078_fluffy-clouds-wallpaper-242902-data-src-high-resolution.jpg");
  background-color: grey;
}
/* Make the header and footer a different color from the background */
header {
  background-color: lightblue;
}
footer {
  background-color: white;
  height: auto;
  width: auto;
  text-align: center;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align:center;
  color: white;
}
/* Make your p tag a different color and italic */
p {
  font-style: italic;
  color: black;
}
/* Put a border around your image */
img {
  border: 50px ridge lightblue;
  width: 200px;
  height: 300px;
}
img{
  float: left;
}
/* Change the font-family of your list */
ul {
  font-family: "Comic Sans MS", " Comic Sans", cursive;
  font-size: 30px;
  color: white;
  list-style-type: circle;
}
.table {
  display: table;
}
.imagestyle1 { position: relative; top: -57px; }
